body{
    color: $text-color;
    font-family: $normal-font;
    -webkit-font-smoothing: antialiased;
    font-size: $normal-size;
}
h1,h2,h3,h4,h5,h6{
    font-family: $title-font;
    -webkit-font-smoothing: antialiased;
	color: $title-color;
	margin-top: 0;
}
a, button{
    transition:all .15s;
}
a{
	color:$aid-color1;
	&:hover, &:focus, &active{
		color:$aid-color1;
	}
}
button{
    border-width: 0;
    border-style: none;
    border-color: none;
}
section{
	padding: 110px 0px;
}
/* hr */ 
hr.hr-lg{
	margin-top: 30px;
	margin-bottom: 30px;
}
/* radio */
.dmn-radio{
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 0;
	& input{
		position: absolute;
		left: -999px;
	}
	& i{
		width: 40px;
		height: 40px;
		text-align: center;
		padding-top: 6px;
		font-size: 22px;
		border-radius: 50%;
	}
	& i.male{
		color: $aid-color1;
		border: 2px solid $aid-color1;
	}
	& input:checked + i.male{
		color: #fff;
		background-color: $aid-color1;
	}
	& i.female{
		color: $aid-color4;
		border: 2px solid $aid-color4;
	}
	& input:checked + i.female{
		color: #fff;
		background-color: $aid-color4;
	}
}
.dmn-radio + .dmn-radio{
	margin-left: 5px;
}
/* custom grid */
.dmn-row{
	margin-left: -4px;
	margin-right: -4px;
	&::after{
		content: '';
		display: table;
		clear: both;
	}
}
.dmn-md-4{
	float: left;
	padding: 0px 6px;
	width: 33.3333%;
}
.dmn-xs-6{
	float: left;
	padding: 0px 4px;
}
/* owl-slider */
.owl-carousel-init{
	text-align: center;
}
.owl-carousel-init .owl-controls{
	margin-top: 30px;
}
.owl-carousel-init .owl-controls .owl-page span{
	background: rgba(125,125,125,0.5);
}
.owl-carousel-init .owl-controls .owl-page.active span,
.owl-carousel-init .owl-page:hover span{
	background: $aid-color1 !important;
}
.owl-carousel-white.owl-carousel-init .owl-controls .owl-page span{
	background: rgba(255,255,255,0.5);
}
.owl-carousel-white.owl-carousel-init .owl-controls .owl-page.active span,
.owl-carousel-white.owl-carousel-init .owl-controls.clickable .owl-page:hover span{
	background: #fff !important;
}
/* bg */
.main-bg{
	background-color: $aid-color1;
	background-image: url(../images/bg_green.jpg);
	background-repeat: repeat;
}
.main-bg-photo{
	background-color: $aid-color1;
	background-image: url(../images/bg_link.jpg);
	background-repeat: repeat;
	background-position: center bottom;
	background-size: cover;
}
.sub-bg1{
	background-image: url(../images/bg_light.jpg);
	background-repeat: repeat;
	background-color: #f3f2f0;
}
.sub-bg2{
	background-image: url(../images/bg_menu.jpg);
	background-color: $aid-color2;
	background-position: center center;
	background-repeat: repeat;
}
.flower-bg1{
	background-image: url(../images/bg_flower1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #f3f2f0;
}
.flower-bg2{
	background-image: url(../images/bg_flower2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #f3f2f0;
}
.flower-bg3{
	background-image: url(../images/bg1-1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	background-color: #f2f1ef;
}
.flower-bg4{
	background-image: url(../images/bg_flower3.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: #f2f1f0;
}
.flower-bg5{
	background-image: url(../images/bg_flower4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #f2f1f0;
}
.flower-bg6{
	background-image: url(../images/bg1-2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	background-color: #ece7e4;
}
.flower-bg7{
	background-image: url(../images/bg_flower5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #ebebeb;	
}
.flower-bg-big{
	background-image: url(../images/bg_flower_big.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #ecedea;
}
.flower-bg-exbig{
	background-image: url(../images/bg_flower_exbig.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color: $aid-color3;
}
.flower-bg-exbig2{
	background-image: url(../images/bg_flower_exbig2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color: #ecedea;
}
.flower-bg-exbig3{
	background-image: url(../images/bg_flower_exbig3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #ecedea;
}
.wood-bg{
	background-image: url(../images/bg_wood.jpg);
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-position: center center;
	background-color: #f2f2f2;
}
.wood-bg2{
	background-image: url(../images/bg_wood2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #7a5f50;
}
.paper-bg{
	background-image: url(../images/bg_paper.jpg);
	background-repeat: repeat;
	background-size: auto auto;
	background-position: center top;
	background-color: #ebebeb;
}
.restaurant-bg{
	background-image: url(../images/bg_restaurant.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.restaurant-bg2{
	background-image: url(../images/bg_history.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.bg-attachment-fixed{
	background-attachment: fixed;
}
.bg-pattern-1{
	background-image: url(../images/bg_pattern_1.png);
	background-repeat: repeat;
}
.bg-pattern-2{
	background-image: linear-gradient(90deg, rgba(255,255,255,.5) 37px, transparent 37px, transparent 97px),url(../images/bg_pattern_1.png);
	background-repeat: repeat, repeat;
	background-size: 97px 10px, auto;

}
.color-bg1{
	background-color: #f2f2ef;
}
.color-bg2{
	background-color: #eae3dc;
}
.color-bg3{
	background-color: #fafafa;
}
.opacity-bg-9{
	background-color: rgba(255,255,255,0.9) !important;
}
/* order-list */
.dmn-unorder-list{
	text-align: left;
}
.dmn-unorder-list li + li{
	margin-top: 10px;
}
/* container */
.container-lg{
	position: relative;
	width: 100%;
	max-width: 1300px;
	padding: 0px 15px;
	margin: 0 auto;
}
.container-lg::after{
	display: table;
	content: '';
	clear: both;
}
.container-xlg{
	position: relative;
	width: 100%;
	max-width: 1500px;
	padding: 0px 15px;
	margin: 0 auto;
}
.container-xlg::after{
	display: table;
	content: '';
	clear: both;
}
.container-xxlg{
	position: relative;
	width: 100%;
	max-width: 1700px;
	padding: 0px 15px;
	margin: 0 auto;
}
.container-xxlg::after{
	display: table;
	content: '';
	clear: both;
}
/* element */
.display-block{
	display: block;
}
/* padding */
.padding-top-40{
	padding-top: 40px;
}
.padding-bottom-40{
	padding-bottom: 40px;
}
.padding-top-50{
	padding-top: 50px;
}
.padding-bottom-50{
	padding-bottom: 50px;
}
.padding-top-60{
	padding-top: 60px;
}
.padding-bottom-60{
	padding-bottom: 60px;
}
.padding-top-70{
	padding-top: 70px;
}
.padding-bottom-70{
	padding-bottom: 70px;
}
/* margin */
.margin-top-10{
	margin-top: 10px;
}
.margin-top-15{
	margin-top: 15px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
/* text-title */
.dmn-title-big{
	color: $title-color;
    font-size: 60px;
	line-height: 1.05;
	letter-spacing: 4px;
    margin-bottom: $margin-bottom-1;
    text-align: center;
	&::after{
		@include divider-1();
	}
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		letter-spacing: 4px;
		font-size: 18px;
		text-transform: uppercase;
		top: -10px;
		position: relative;
	}
}
.dmn-title-type1{
	@include title-1();
	&::after{
		@include divider-1();
	}
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		font-size: $en-size-1;
		text-transform: uppercase;
	}
}
.dmn-title-type2{
	@include title-2();
	&::after{
		@include divider-2();
	}
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		font-size: $en-size-1;
		text-transform: uppercase;
	}
}
.dmn-title-type3{
	@include title-3();
	&::after{
		@include divider-3();
	}
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		font-size: $en-size-1;
		text-transform: uppercase;
	}
}
.dmn-title-type3-white{
	color: #fff;
    font-size: $title-size-2;
    line-height: $line-height-2;
    margin-bottom: $margin-bottom-2;
    letter-spacing: $letter-space-2;
    text-align: left;
	&::after{
		display: block;
		content:'';
		width: 108px;
		height: 21px;
		margin: 20px auto 0px 0px;
		background-image: url(../images/divider_title_half_w.png);
	}
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		font-size: $en-size-1;
		text-transform: uppercase;
	}
}
.dmn-title-type4{
	color: #fff;
    font-size: $title-size-2;
    line-height: $line-height-2;
    margin-bottom: $margin-bottom-2;
    letter-spacing: $letter-space-2;
	font-family: $title-font;
	text-align: center;
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		font-size: $en-size-1;
		text-transform: uppercase;
	}
}
.dmn-title-type5{
	color: #fff;
	font-size: $title-size-1;
	line-height: $line-height-2;
    margin-bottom: 15px;
    letter-spacing: $letter-space-2;
	font-family: $title-font;
}
.dmn-small-title-1{
	font-size: $small-title-2;
	color: $title-color;
	font-family: $title-font;
	margin-bottom: 20px;
}
.dmn-small-title-2{
	font-size: $small-title-1;
	color: #fff;
	font-family: $title-font;
	letter-spacing: 2px;
	margin-bottom: 35px;
}
.dmn-en-title-kv{
	font-family: $en-font;
	font-style: italic;
	font-size: 85px;
	color: $title-color;    
    line-height: 0.5;
    margin-bottom: $margin-bottom-1;
    letter-spacing: $letter-space-1;
	text-align: center;
	&::after{
		@include divider-1();
	}
	& span{
		display: inline-block;
		width: 100%;
		color: $aid-color2;
		font-size: 18px;
		font-style: normal;
		font-family: $title-font;
	}
}
.dmn-title-flower-green{
	&::after{
		@include divider-2();
	}
}
.dmn-subtitle-type1{
	text-align: center;
	margin-bottom: 60px;
	line-height: 1.6;
}

/* text-style */
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-small{
	font-size: 14px;
}
.text-black{
	color: $title-color;
}
.text-white{
	color: #fff;
}
.text-aid1{
	color: $aid-color1;
}
.text-font-serif{
	font-family: $title-font;
}
.confirm{
	font-size: 14px;
	margin-top: 20px;
}
/* rwd */
.rwd-pc{
	display: block !important;
}
.rwd-mobile{
	display: none !important;
}
/* button */
.btn{
	border-radius: 0;
	padding: $btn-padding-1;
	&:hover i.fa-angle-right{
		transform: translateX(5px);
	}
}
.btn > i.fa-angle-right{
	float: right;
	transition: transform .2s;
	margin-top: 2px;	
}
.btn-main{
	background-color: $main-color;
	color: #fff;	
	&:hover,&:focus, &:active{
		color: #fff;
		filter: brightness(120%);
	}
}
.btn-lg{
	padding: 15px 30px;
}
.btn-xxlg{
	font-size: 40px;
	padding: 15px 6px;
	line-height: 0.9;
}
.btn-color-white{
	color: #fff;
	&:hover,&:focus, &:active{
		color: #fff;
	} 
}
.btn-border-white{
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	&:hover,&:focus, &:active{
		color: $aid-color1;
		background-color: #fff;
	}
}
.btn-sub1{
	background-color: $aid-color1;
	color: #fff;
	
	&:hover,&:focus, &:active{
		color: #fff;
		filter: brightness(120%);
	}
}
.btn-sub2{
	background-color: $aid-color2;
	color: #fff;
	
	&:hover,&:focus, &:active{
		color: #fff;
		filter: brightness(110%);
	}
}
/* page-step */
.page-step{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}
.page-step li{
	position: relative;
	display: inline-block;
	font-size: 14px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	line-height: 25px;
	color: $aid-color2;
	background-color: rgba(255,255,255,0.8);
	z-index: 1;
}
.page-step li + li{
	margin-left: 40px;
}
.page-step li + li::before{
	display: block;
	position: absolute;
	top:12px;
	left: -40px;
	content: '';
	width: 40px;
	height: 2px;
	background-color: rgba(255,255,255,0.8);
	z-index: -1;
}
.page-step li.active{
	background-color: rgba(255,255,255,0.8);
	font-weight: bold;
}
.page-step li.active ~ li, .page-step li.active ~ li::before{
	background-color: rgba(255,255,255,0.2);
}
/* member-table */
.member-table{
    font-size: 12px;
    text-align: center;
	margin-top: 100px;
	overflow: visible;
}
.member-table .table>thead>tr>th:first-child{
    width: 16%;    
}
.member-table .table>thead>tr>th:last-child:after{
    content: '';
    display: block;
    width: 100px;
    height: 75px;
    position: absolute;
    top: -75px;
    left: 0px;
    background: url(../images/memberform01.png) no-repeat;
    background-size: 100%;
}
.member-table .table>thead>tr>th:nth-last-of-type(2):after{
    content: '';
    display: block;
    width: 86px;
    height: 57px;
    position: absolute;
    top: -57px;
    left: 5%;
    background: url(../images/memberform02.png) no-repeat;
    background-size: 100%;
}
.member-table .table>thead>tr>th{
    width: 21%;
    border-bottom:1px solid #ddd;
    text-align: center;
	position: relative;
	color: #fff;
	font-size: 15px;
}
.member-table .table > thead > tr > th:nth-of-type(2){
	background-image: linear-gradient(to bottom, #1e759b, #3cb8f0);
}
.member-table .table > thead > tr > th:nth-of-type(3){
	background-image: linear-gradient(to bottom, #735d8f, #b292d9);
}
.member-table .table > thead > tr > th:nth-of-type(4){
	background-image: linear-gradient(to bottom, #a87e1e, #f1b836);
}
.member-table .table > thead > tr > th:nth-of-type(5){
	background-image: linear-gradient(to bottom, #a14376, #f26ab3);
}
.member-table .table>tbody>tr:first-child >td{
    padding-top: 20px;
}
.member-table .table>tbody>tr>td:nth-of-type(2){
    background-color: #d9effc;
}
.member-table .table>tbody>tr>td:nth-of-type(3){
    background-color: #efe9f4;
}
.member-table .table>tbody>tr>td:nth-of-type(4){
    background-color: #ffedb6;
}
.member-table .table>tbody>tr>td:nth-of-type(5){
    background-color: #fae7f1;
}
.member-table .table>tbody>tr>td + td{
    border-left:1px solid #ddd;
}
/* box */
.dmn-box{
	position: relative;
	background-color: #fff;
	width: 100%;
	padding: 40px;
}
.dmn-box.dmn-box-sm{
	padding: 30px ;
}
.dmn-box.dmn-box-xs{
	padding: 16px ;
}
.dmn-box.dmn-box-xss{
	padding: 8px ;
}
.dmn-box-outline-t1{
	padding: 60px;
	&::before{
		content: '';
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		border: 1px solid #ddd;
		z-index: 0;
	}
}
.dmn-box-outline-t2{
	padding: 35px;
	&::before{
		content: '';
		position: absolute;
		top: 6px;
		bottom: 6px;
		left: 6px;
		right: 6px;
		border: 1px solid #ddd;
		z-index: 0;
	}
}
.dmn-box-md{
	padding: 90px;
}
.dmn-box-lg{
	padding: 120px;
}
.dmn-box-gray{
	background-color: $aid-color3;
}
.dmn-box-reg{
	height: 620px;
}
.dmn-box-text{
	font-size: 14px;
	z-index: 2;
	position: relative;
}
.dmn-box-text p, .dmn-box-text ul, .dmn-box-text ol{
	margin-bottom: 30px;
}
.dmn-box-title-big{
	font-family: $title-font;
	font-size: 18px;
	margin-bottom: 18px;
}
.dmn-box-title-small{
	font-family: $normal-font;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.4;
}
.dmn-box-title-small-s{
	font-family: $normal-font;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
}
.dmn-photo-box{
	background-image: url(../images/bg_menu.jpg);
	background-repeat: repeat;
}
.dmn-photo-box-img{
	width: 100%;
	overflow: hidden;
	& img{
		width: 100%;
	}
}
.dmn-photo-box-txt{
	color: #fff;
	padding: 30px 30px 40px 30px;
	text-align: center;
	min-height: 280px;
}
.dmn-photo-box-title{
	font-family: $en-font;
	font-style: italic;
	font-size: 60px;
	letter-spacing: 3px;
	margin-bottom: 30px;
	display: block;
}
.dmn-photo-box-subtitle{
	letter-spacing: 5px;
}
.dmn-photo-box-notice{
	font-size: 12px;
}
/* tab-panel */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-radius:0;
} 
/* form-control */
.form-control{
    height:40px;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,0.06);
}
.form-control-lg{
	height: 54px;
}
.form-control-gray{
	border: 0;
	background-color: #f2f1f0;
	box-shadow: none !important;
}
.form-control-opacity10{
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	&::placeholder{
		color: #fff;
	}
	&:focus{
		border: 1px solid rgba(255,255,255,0.2);
		color: rgba(255,255,255,1);
		box-shadow: none;
	}
	& option{
		color: $text-color;
	}
}
.form-transparent{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding: 15px 6px;
	height: auto;
	background-color: transparent;
	box-shadow: none;
	color: rgba(255,255,255,0.9);
	& option{
		color: $text-color;
	}
	&::placeholder{
		color: rgba(255,255,255,0.9);
	}
	&:focus{
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid rgba(255,255,255,1);
		color: rgba(255,255,255,1);
		padding: 15px 6px;
		box-shadow: none;
	}
	
}
.form-underline{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #ddd;
	padding: 15px 6px;
	height: auto;
	background-color: transparent;
	box-shadow: none;
	color: $text-color;
	&::placeholder{
		color: $text-color;
	}
	&:focus{
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid $aid-color1;
		color: $title-color;
		padding: 15px 6px;
		box-shadow: none;
	}
	
}
/* scroll To Top */
#toTop {
	font-size:25px;
	line-height:38px;
	background-color: rgba(163,173,113,0.8);
	color: #FFF;
	position: fixed;
    height: 40px; 
    width: 40px;
	right: 20px; bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.9;
	filter: alpha(opacity=90);
	text-decoration:none;
	display:none;
	z-index: 1000;
	-webkit-border-radius: 0% !important;
	-moz-border-radius: 0% !important;
	border-radius: 0% !important;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
		 -o-transition: all 0.2s;
			transition: all 0.2s;
}
#toTop:hover {
	background-color: rgba(163,173,113,1);
}
#toTop:before {
	font-family: "fontawesome";
	content: "\f062";
}
/* pc-show mobile-hide */
.pcs-mh{
    display: block;
}
.ms-pch{
    display: none;
}
/* pseudo-elements */
.no-pseudo{
	&::after{
		display: none;
	}
	&::before{
		display: none;
	}
}
.no-after{
	&::after{
		display: none;
	}
}
.no-before{
	&::before{
		display: none;
	}
}
/* modal */
.modal-content{
	border-radius: 0;
	border: 0;
	box-shadow: 0;
}
.modal-header{
	padding: 20px 15px;
	background-color: $main-color;
}
.modal-title{
	font-size: 20px;
	color: #fff;
}
.modal-body{
	padding: 30px 15px;
	min-height: 200px;
}
.modal-header .close{
	color: #fff;
}
.modal-body .title{
	color: $title-color;
	font-size: $small-title-3;
	margin-bottom: 15px;
}
/* dmn-divider */
.dmn-divider{
	width: 100%;
	height: 0;
	border-top: 2px dotted #ccc;
	margin: 30px 0px 30px 0px;
}
/* dmn-label */ 
.dmn-label{
	position: absolute !important;
	width: 89px;
	height: 85px;
	left: -5px;
	top: -5px;
	z-index: 10;
}
.dmn-label span{
	display: block;
	text-align: center;
	transform: rotate(-45deg) translateX(-23px) translateY(5px);
	color: #fff;
	font-size: 14px;
	font-family: $title-font;
}
.label-type1{
	background-image: url(../images/label_type1.png);
	background-repeat: no-repeat;
}
.label-type2{
	background-image: url(../images/label_type2.png);
	background-repeat: no-repeat;
}
.label-type3{
	background-image: url(../images/label_type3.png);
	background-repeat: no-repeat;
}
.label-type4{
	background-image: url(../images/label_type4.png);
	background-repeat: no-repeat;
}
/* checkbox-inline */ 
.checkbox-inline{
    position: relative;
    z-index: 2;
    padding: 6px 12px;
    margin-right: 5px;
    margin-bottom: 10px;
	color: $text-color;
	font-size: 14px;
}
.checkbox-inline:last-child{
    margin-right: 0px;
}
.checkbox-inline + .checkbox-inline{
    margin-left: 0;
}
.checkbox-inline input[type=checkbox]{
    position: absolute;
    left: -9999px;
}
.checkbox-inline input[type=checkbox] + i{    
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.5rem;
	background-color: $aid-color3;
	z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color .2s;
}
.checkbox-inline input[type=checkbox]:checked ~ span{
	color: #fff;
}
.checkbox-inline input[type=checkbox]:checked + i{
    background-color: $aid-color2;
    z-index: -1;    
}
/* pagination */
.pagination > li > a,
.pagination > li > span {
	color: #a3ad71;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #858c60;
	background-color: #eeeeee;
	border-color: #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	color: #fff;
	background-color: #a3ad71;
	border-color: #a3ad71;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ddd;
	background-color: #fff;
	border-color: #ddd;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/* social-icon */
.dmn-social-icon{
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: left;
}
.dmn-social-icon li{
	display: inline-block;
}
.dmn-social-icon li + li{
	margin-left: 5px;
}
.socail-icon{
	display: block;
	background-color: $main-color;
	color: #fff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	&.disable{
		background-color:#ddd;
		cursor: default;
		&:hover, &:active, &:focus{
			background-color: #ddd;
			color: #fff;
		}
	}
	&:hover{
		background-color: $aid-color1;
		color: #fff;
	}
}
.socail-icon img{
	width: 16px;
	vertical-align: middle;
	margin-top: -4px;
}
.dmn-share{
	margin-top: 60px;
	& .socail-icon{
		background-color: $aid-color1;
		&:hover{
			background-color: $aid-color2;
		}
	}
	&::before{
		display: inline-block;
		content: "SHARE:";
		margin-right: 5px;
		font-size: 13px;
		font-family: $title-font;
		color: $aid-color2;
		letter-spacing: 4px;
	}
}
/* list-table */
.list-table{
	width: 100%;
	text-align: left;
	& h3{
		color: $title-color;
		font-size: 16px;
		margin: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		max-width: 200px;
	}
	& tr{
		border-bottom:1px solid #ddd ;
	}
	& td{
		padding: 5px 0px;
	}
	& td.title{
		
	}
	& td.date{
		font-size: 14px;
	}
} 
/* table-blog */ 
.table-blog > tbody > tr:nth-of-type(even){
	background-color: #f8f7f6;
}
.table.table-blog > thead > tr > th{
	background-color: $aid-color2;
	color: #fff;
	border-bottom: 0;
}
.table.table-blog > tbody > tr > td, .table > tfoot > tr > td{
	padding: 20px 8px;
}
.table-thumbnail{
	width: 110px;
	height: 70px;
	overflow: hidden;
	& img{
		max-width: 100%;
	}
}
.table-blog-title{
	width: 300px;
	& .title{
		color: $title-color;
		font-family: $title-font;
		font-size: 18px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	& a > p{
		display:-webkit-box;
		text-overflow: ellipsis;
		-webkit-line-clamp:2;
		max-height: 3em;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: $text-color;
		font-size: 14px;
		margin-bottom: 0;
	}
	& a:hover{
		text-decoration: none;
		& .title{
			color: $aid-color1;
		}
	}
}
/* profile-table */ 
.profile-table{

}
.profile-table-title{
	color: $aid-color2;
}

/* float */
.float-left{
	float: left !important;
} 
.float-right{
	float: right !important;
} 
