#wrapper{
	overflow: hidden;
}
/* header */
.dmn-brand-logo{
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 16px;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand{
	margin-left: 0;
}
.header-dmn{
	width: 100%;
	height: 135px;
	display: block;
	overflow: hidden;
	float: none;
	text-align: center;		
	padding-top: 35px;
	transition-property: height, padding;
	transition-duration: .3s;
}
.header-dmn .navbar-brand{
	float: none;
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.header-dmn-sideicon{
	color: #928b84;
	display: inline-block;
	position: relative;
	line-height: 1.2;
	vertical-align: middle;
}
.header-dmn-sideicon:hover{
	text-decoration: none;
	color: $title-color;
}
.header-dmn-sideicon > i{
	width: 45px;
	height: 45px;
	line-height: 45px;
	display: block;
	background-color: $main-color;
	border-radius: 50%;	
	color: #fff;
	text-align: center;
}
.header-dmn .header-dmn-sideicon.dmn-call{
	text-align: right;
	margin-right: 200px;
	cursor: default;
}
.header-dmn .header-dmn-sideicon.dmn-login{
	text-align: left;
	margin-left: 200px;
}
.header-dmn .header-dmn-sideicon.dmn-call > i{
	margin-left: 15px;
	float: right;
}
.header-dmn .header-dmn-sideicon.dmn-login > i{
	margin-right: 15px;
	float: left;
}
.header-dmn .header-dmn-sideicon.dmn-call > span{
	position: absolute;
	left: 0px;
	top: 50%;
	display: block;
	white-space: nowrap;
	transform: translateX(-100%) translateY(-50%);
}
.header-dmn .header-dmn-sideicon.dmn-login > span{
	position: absolute;
	right: 0px;
	top: 50%;
	display: block;
	white-space: nowrap;
	transform: translateX(100%) translateY(-50%);
}  
.header-dmn-logo{
	max-width: 100%;
}
.header-dmn-navbar{
	background-image: url(../images/bg_menu.jpg);
	background-color: $aid-color2;
	background-position: center center;
	background-repeat: repeat;
	text-align: center;
}
.header-dmn-navbar .navbar-nav{
	display: inline-block;
	vertical-align: middle;
}
.header-dmn-navbar .navbar-nav > li{
	float: left;
}
.header-dmn-navbar .navbar-nav > li > a{
	color: #fff;
	letter-spacing: 2px;
	padding: 25px 23px;
	// font-family: $title-font;
	font-size: 17px;
	font-weight: bold;
	background-color: transparent;
}
.header-dmn-navbar .navbar-nav a:hover,
.header-dmn-navbar .navbar-nav a:active,
.header-dmn-navbar .navbar-nav a:focus{
	background-color: transparent;
}
.header-dmn-navbar .dropdown-menu{
	border: 0;
	border-radius: 0;
	background-color: $aid-color1;
	padding: 15px 0px;
	display: block;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
}
.header-dmn-navbar .dropdown-menu > li > a{
	color: #fff;
	padding: 15px 30px;
	letter-spacing: 1px;
}
.header-dmn-navbar .open > .dropdown-menu{
	transform: scaleY(1);
}
#header.fixed {
    position:fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.1);
    z-index: 999;
    width: 100%;    
}
#header.fixed .header-dmn{
	height: 0;
	padding-top: 0;
}
.nav-logo{
	width: 0;
	overflow: hidden;
	transition: width .5s;
	transition-delay: 0.3s;
}
.nav > .nav-logo > a > img{
	max-width: 180px;
}
.nav > li > a > img.h-menu {
	height: 16px;
}
.header-dmn-navbar .navbar-nav > li > a.dmn-logo{
	padding: 18px 23px 15px 15px;
}
#header.fixed .nav-logo{
	width: 300px;
}
.header-dmn .navbar-toggle .icon-bar{
    background-color: $text-color;
}
/* dmn-breadcrumb */
.dmn-breadcrumb{
	padding: 6px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	width: 100%;
	text-align: center;
}
.breadcrumb{
	margin: 0;
	padding: 0;	
	background-color: transparent;
	font-size: 14px;
}
.breadcrumb > .active{
	color: $text-color;
}
.breadcrumb > li + li:before{
	content: "\f105";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 0 10px;
}
/* dmn-side-panel */
.dmn-side-panel{
	list-style: none;
	position: fixed;
	bottom: 45%;
	margin: 0;
	right: 20px;
	z-index: 998;
	transition: bottom .3s,;
	transition-delay: .1s;
}
.dmn-side-panel li > a{
	display: block;
	width: 58px;
	height: 58px;
	background-color: $aid-color2;
	color: rgba(255,255,255,0.7);
	font-size: 15px;
	line-height: 58px;
	transition: .2s;
	&:hover{
		background-color: $aid-color1;
		color: rgba(255,255,255,1);
		font-size: 18px;
	}
}
.dmn-side-panel li + li{
	border-top: 1px solid #d5c8bc;
}
.dmn-side-panel.scroll{
	top: auto;
	right: 20px;
	bottom: 61px;
}
.dmn-side-panel.scroll li > a{
	width: 40px;
	height: 40px;
	line-height: 40px;	
}
/** 主視覺&註冊 **/
.tp-bannertimer{
	display: none;
}
.dmn-index-register{
	position: absolute;
	width: 100%;
	max-width: 1450px;
	padding-left: 10px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 80px;
	z-index: 90;
}
.dmn-index-register .register-box{
	background-color: rgba(0,0,0,0.5);
	width: 520px;
	padding: 30px;
	text-align: center;
	color: #fff;
}
.dmn-index-register .confirm a{
	color: #fff;
}
.register-box{
	position: relative;
	z-index: 1;
}
.register-box .form-group{
	margin-bottom: 10px;
}
.register-box .col-xs-6, .register-box .col-xs-4{
	padding-right: 5px;
}
.register-box .col-xs-6 + .col-xs-6{
	padding-left: 5px;
	padding-right: 15px;
}
.register-box .col-xs-4 + .col-xs-4{
	padding-left: 5px;
}
.register-box .col-xs-4:nth-last-of-type(1){
	padding-right: 15px;
}
.dmn-index-register .form-control{
	border: 0;
}
/* DMN特點 */
.index-dmn-special-item{
	text-align: center;
}
.index-dmn-special-item img{
	width: 60px;
	margin-bottom: 10px;
}
.index-dmn-special-item .dmn-special-title{
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 0;
	font-family: $title-font;
}

/* 會員牆 */ 
.index-dmn-member{
	
}
.photo-item{
    padding: 0 5px;
}
.photo-item a{
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding: 20px;
    background-color: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	&:hover{
		background-color: $aid-color3;
	}
}
.photo-item .name{
    color: $aid-color1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.photo-item .photo{
	height: 0px;
	padding-top: 105%;
    margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.photo-item .photo img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
    max-width: 100%;
}
.photo-item a:hover, .photo-item a:active, .photo-item a:focus{
    text-decoration: none;    
}
.index-member .btn-cta, .index-lovestory .btn-cta{
    display: block;
    margin: 0 auto;
}
/* 會員幸福故事分享 */
.index-dmn-happiness{
	background-image: url(../images/bg1-1.jpg);
	background-size: 100%;
	background-position: center bottom;
	background-color: #f2f1ef;
	background-repeat: no-repeat;
	& .owl-carousel .happiness-text{
		text-align: left;
	}
}
.happiness-slider-item{
	width: 100%;
}
.happiness-text{
	float: left;
	padding-right: 50px;	
	width: 60%;
}
.happiness-text .happiness-text-p{	
	line-height: 1.8;
	margin-bottom: 60px;
	max-height: 165px;
	overflow: hidden;
}
.happiness-img{
	float: right;
	width: 40%;
}
.happiness-photo{
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-color: #ddd;
	&::after{
		content: '';
		position: absolute;
		top: 5px;
		bottom: 5px;
		right: 5px;
		left: 5px;
		width: auto;
		height: auto;
		z-index: 2;
		border: 2px solid #fff;
	}
}
.index-dmn-happiness .flexslider{
	background-color: transparent;
}
.index-dmn-happiness .flexslider .slides .happiness-photo img{
	height: 100%;
	width: auto;
	position: absolute;
	left: -50%;
	right:-50%;
	top: 0;
	bottom: 0;
	margin: auto;
}
.index-dmn-happiness .flex-control-nav{
	display: none;
}
.index-dmn-happiness .flex-direction-nav .flex-prev{
	left: auto !important;
	right: 70px !important;
}
.index-dmn-happiness .flex-direction-nav .flex-next{
	right: 14px !important;
}
.index-dmn-happiness .flex-direction-nav a{
	background-color: $main-color;
	border-radius: 0;
	top: auto;
	bottom: 14px;
	opacity: 1;
}
/* 精選聯誼活動 */
.index-dmn-happiness{}
.slider-events-block{}
.slider-events-item{
	padding: 0 15px;
}
.slider-events-photo{
	width: 100%;
	height: 0;
	overflow: hidden;
	position: relative;
	padding-top: 65%;
	margin-bottom: 30px;
	&::after{
		content: '';
		position: absolute;
		top: 5px;
		bottom: 5px;
		right: 5px;
		left: 5px;
		width: auto;
		height: auto;
		z-index: 2;
		border: 1px solid #fff;
	}
}
.slider-events-photo img{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.slider-events-title{
	font-family: $title-font;
	color: $title-color;
	font-size: $small-title-1;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 35px;
}
.slider-events-list{
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
	height: 24px;
	overflow: hidden;
}
.slider-events-list li{
	display: inline;
	font-size: 14px;
	color: $aid-color1;
	&:before{
		content: "\f101";
		display: inline-block;
		margin-right: 5px;
		font: normal normal normal 14px/1 FontAwesome;
	}
}
.slider-events-list li + li{
	margin-left: 10px;
}
.slider-events-text{
	line-height: 1.5;
	height: 72px;
	overflow: hidden;
	margin-bottom: 30px;
}
/* DMN 特色 */
.index-dmn-features{
	
} 
.features-list-block{
	text-align: center;
	width: 90%;
	margin: auto;
}
.features-list{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.features-list li{
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 0px 30px;
	margin-bottom: 30px;
}
.features-list li + li::after{
	content: '';
	position: absolute;
	width: 1px;
	height: 80px;
	left: 0;
	bottom: 0;
	border-left: 1px solid #ddd;
}
.features-list li:nth-of-type(6)::after{
	display: none;
}
.features-icon{
	width: 100px;
	height: 100px;
	margin: auto;
	line-height: 100px;
	margin-bottom: 20px;
	border-radius: 50%;
	background-color: $aid-color2;
	text-align: center;
}
.features-list li:nth-of-type(odd) .features-icon{
	background-color: $aid-color1;
}
.features-icon img{
	width: 50px;
	height: auto;
}
.features-small-title{
	font-size: 17px;
	color: $title-color;
	font-family: $title-font;
	margin-bottom: 15px;
	letter-spacing: 4px;
}
.features-txt{

}
/* 企業聯誼合作 */
.index-dmn-cooperation{
	background-image: url(../images/bg_beach.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.slider-cooperation-item{
	text-align: center;
}
.slider-cooperation-icon{
	background-color: #fff;
	width: 150px;
	margin: auto;
}
.slider-cooperation-icon img{
	width: 100%;
}

/* 關於DateMeNow婚戀會館 */ 
.dmn-about-side1{
	text-align: left;
	color: #fff;
}
/* 首頁底下註冊 */
.index-dmn-bottom-register{

}
.dmn-bottom-register{
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.index-dmn-bottom-register .register-box{
	text-align: center;
}
.index-dmn-bottom-register .confirm a{
	color: $text-color;	
}
/* page 404 */
.page-404-content{
	text-align: center;
	min-height: 650px;
}
.page-404-content p{
	line-height: 1.8;
	margin-bottom: 60px;
}
/* 服務據點 */
.page-location-kv{
	background-image: url(../images/bg_location.jpg);
	background-size: cover;
	background-position: center top;
	height: 810px;
}
.dmn-kv-text{
	text-align: center;
}
.dmn-kv-text p{
	color: #fff;
	line-height: 1.6;
}
.page-location-section{
	padding: 80px 0px;
}
.page-location-section:nth-of-type(odd) .page-location-section-slider{
	float: right;
}
.page-location-section:nth-of-type(odd) .page-location-section-title{
	left: 15px;
}
.page-location-section:nth-of-type(even) .page-location-section-slider{
	float: none;
}
.page-location-section:nth-of-type(even) .page-location-section-title{
	right: 15px;
}
.page-location-section .flexslider{
	background-color: transparent;
}
.page-location-section-title{
	position: absolute;
	text-align: center;
	bottom: 0px;
	z-index: 9;
}
.page-location-section-title .text-black{
	letter-spacing: 2px;
	line-height: 1.7;
}
.cube-box{
	display: table;
	width: 340px;
	height: 340px;
	margin-bottom: 30px;
	color: $title-color;
	position: relative;
	background-color: #fff;
	padding: 10px;
	border: 2px solid $title-color;
	text-align: center;
}
.cube-box.green{
	background-color: #666d43;
	border: 0;
}
.cube-box.green .cube-title{
	border: 1px solid #cbb8a7;
}
.cube-box.green .cube-title .en, .cube-box.green .cube-title .ch{
	color: #fff;
}
.cube-box.green .cube-title .en::after{
	background-image: url(../images/divider_white.png);
	background-size: cover;
}
.cube-title{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid $title-color;
}
.cube-title .en{
	font-family: $en-font;
	letter-spacing: 1px;
	font-size: 50px;
	line-height: 1;
	font-style: italic;
	text-transform: uppercase;
	display: block;
}
.cube-title .en::after{
	content: '';
	display: block;
	margin: 15px auto;
	width: 208px;
	height: 21px;
	background-image: url(../images/divider_title.png);
}
.cube-title .ch{
	font-family: $title-font;
	letter-spacing: 2px;
	display: block;
	font-size: 18px;	
	font-weight: normal;
}
.en-title{
	text-align: center;
	margin-bottom: 70px;
}
.en-title .en{
	font-family: $en-font;
	letter-spacing: 1px;
	font-size: 50px;
	line-height: 1;
	font-style: italic;
	text-transform: uppercase;
	display: block;
}
.en-title .en::after{
	content: '';
	display: block;
	margin: 15px auto;
	width: 208px;
	height: 21px;
	background-image: url(../images/divider_title.png);
}
.en-title.text-white .en::after{
	background-image: url(../images/divider_white.png);
	background-size: cover;
}
.en-title .ch{
	font-family: $title-font;
	letter-spacing: 2px;
	display: block;
	font-size: 18px;	
	font-weight: normal;
}
.page-location-section-slider{
	width: 100%;
	max-width: 1200px;
	text-align: center;
}
.page-location-section-slider .flex-control-thumbs{
	margin: 30px auto;
}
.page-location-section-slider .flex-control-nav.flex-control-thumbs li,
.page-location-section-slider .flex-control-nav.flex-control-thumbs li img{
	height: auto !important;
}
.page-location-access{
	overflow: hidden;
	color: #fff;
	background-color: $aid-color1;
}
.page-location-access .girl{
	position: absolute;
	bottom: -150px;
	left: -140px;
}
.page-location-access .text{
	margin-left: 20%;
	width: 50%;
	float: left;
	position: relative;
	z-index: 2;
}
.page-location-access .text::before{
	position: absolute;
	content: '';
	bottom: -150px;
	left: -420px;
	z-index: -1;
	background-image: url(../images/dmn-girl.png);
	width: 486px;
	height: 676px;
	background-repeat: no-repeat;
}
.page-location-access .map{
	float: right;
	width: 30%;
}
.page-location-access .map img{
	max-width: 100%;
}
.page-location-access dl::after{
	content: '';
	display: table;
	clear: both;
}
.page-location-access dt, .page-location-access dd{
	display: block;
	vertical-align: top;
	line-height: 1.8;
	float: left;
}
.page-location-access dt{
	width: 24%;
	font-family: $title-font;
	letter-spacing: 5px;
	font-weight: normal;
}
.page-location-access dd{
	width: 76%;
}
/* 註冊登入頁 */
.page-register-kv{
	background-image: url(../images/index-slider01.jpg);
	background-size: cover;
	background-position: center center;
	padding: 60px 0px;
}
.page-regTab .nav-tabs{
    display: none;
}
.page-regTab .tab-content>.tab-pane{
    width: 50%;
    float: left;
    display: block;
    padding: 0px 10px;
}
.page-regTab .tab-content>.active{
    display: block;
}
.page-regTab .fade.in{
    opacity: 1;
}
.page-regTab .fade{
    opacity: 1;
}
.page-regTab .dmn-login{
	margin-top: 60px;
}
.page-register-blcok{
	box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}
.page-register-step{
	background-color: $aid-color2;
	padding: 20px;
	text-align: center;
	border-bottom:1px solid rgba(0,0,0,0.02) ;
}
.page-register-title{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}
.page-register-title .title{
	color: $title-color;
	font-family: $title-font;
	font-size: 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.page-register-title .subtitle{
	color: $aid-color2;
	font-family: $title-font;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.page-register-account{
	background-color: $aid-color3;
	display: block;
	color: $aid-color1;
	text-align: center;
	padding:15px;
	width: 80%;
	margin: 30px auto;
}
.page-register-form label{
	display: none;
}
.page-register-form label.checkbox-inline{
	display: inline-block;	
}
.page-register-form{
	padding: 0 40px;
}
.page-register-form .form-group{
	margin-bottom: 30px;
}
.page-register-form .form-group .title{
	margin-bottom: 20px;
}
.page-register-form .form-group .title > span{
	font-size: 14px;
	font-family: $normal-font;
	color: $aid-color2;
	margin-left: 5px;
}
.page-register-txt{
	text-align: center;
	margin-bottom: 30px;	
}
.page-register-check{
	text-align: center;
	padding: 0 50px;
	margin-bottom: 40px;
}
.page-register-check::after{
	display: table;
	content: '';
	clear: both;
}
.page-register-check .check{
	float: left;
	width: 50%;	
}
.page-register-check i{
	font-size: 90px;
	margin-bottom: 20px;
}
.page-register-check i.glyphicon-ok{
	color: $aid-color1;
}
.page-register-check i.glyphicon-remove{
	color: $main-color;
}
.photo-preview{
	width: 100%;
	max-width: 300px;
	height: 320px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.photo-preview img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}
.idcard{
	width: 90%;
	margin: auto;
}
.idcard img{
	width: 100%;
}
.register-submit{
	margin-top: 50px;
}
.register-submit .confirm{
	text-align: center;
}
.register-file-upload{
	text-align: center;
	margin-bottom: 70px;
}
.register-file-upload label.file{
	display: block;
	padding: 10px;
	background-color: #f2f1ef;
	border: 1px dashed $aid-color1;
	margin-bottom: 20px;
}
.register-file-upload h5{
	text-align: left;
	font-size: 16px;
	margin-bottom: 15px;
}
.register-file-upload h5 > span{
	color: $text-color;
}
.custom-file-upload{
	width: 100%;
}
/* 幸福故事 */
.page-happiness-kv{
	background-image: url(../images/bg_happiness.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-size: cover;
}
.page-happiness-kv .subtitle{
	color: #fff;
	font-family: $normal-font;
	line-height: 1.6;
	letter-spacing: 2px;
	font-size: 14px;
}
.page-happiness-kv 
.page-happiness-list{
	padding: 85px 0px;
}
.list-item{
	position: relative;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 30px;
	transition: transform .3s, box-shadow .3s;
	&:hover{
		transform: translateY(-5px);
		box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
	}
}
.list-item-inner{
	border: 1px solid #f2f1ef;
	padding: 15px;	
	display: block;
}
.list-item-link{
	color: $text-color;
	&:hover, &:active, &:focus{
		text-decoration: none;
		color: $text-color;
	}	
}
.list-item-photo-wrap{
	position: relative;
	margin-bottom: 50px;
	& .list-item-photo{
		margin-bottom: 0px;
	}
}
.list-item-photo{
	width: 100%;
	height: 0;
	padding-top: 65%;
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
}
.list-item-photo img{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.list-item-text{
	padding: 0 15px;
	text-align: center;
	height: 190px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}
.list-item-photo-wrap + .list-item-text{
	height: auto;
	& .list-item-title{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.list-item-views{
	color: #fff;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	position: absolute !important;
	right: 0;
	top: 0;
	padding: 4px 8px;
}
.list-item-area{
	position: absolute !important;
	display: inline-block;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 6px 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	color: #fff;
	background-color: $aid-color2;
}
.list-item-title{
	font-size: 20px;
	font-family: $title-font;
	color: $title-color;
	line-height: 1.4;
	margin-bottom: 15px;
}
.list-item-subtitle{
	font-size: 17px;
	display: block;
	color: $aid-color1;
	margin-bottom: 15px;
}
.list-item-info{
	margin: 0;
	padding: 0;
	list-style: none;
	& li{
		padding:4px 0;
		overflow: hidden;
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	& li::before{
		font: normal normal normal 14px/1 FontAwesome;
		display: inline-block;
		margin-right: 5px;
	}
	& li.date::before{
		content: "\f017";
	}
	& li.num::before{
		content: "\f0c0";
	}
	& li.cutoff::before{
		content: "\f073";
	}
	& li + li{
		border-top:1px solid rgba(0,0,0,0.1) ;
	}
}
.list-item-text p{
	font-size: 14px;
}
.happiness-blog{
	position: relative;
	&::after{
		content: '';
		clear: both;
		display: table;
	}
}
.happiness-blog .photos{
	width: 40%;
	float: left;
}
.happiness-blog .photos img{
	max-width: 100%;
	margin-bottom: 30px;
}
.happiness-blog .blog{
	width: 60%;
	float: left;
	padding-left: 60px;
}
.happiness-blog .blog .text{
	line-height: 1.8;
}
.happiness-blog .blog .title{
	font-size: 32px;
	line-height: 1.2;
	color: $title-color;
	font-family: $title-font;
	margin-bottom: 40px;
}
.happiness-blog .blog .subtitle{
	font-size: 16px;
	color: $aid-color1;
	font-family: $title-font;
	margin-bottom: 40px;
}
.happiness-blog .blog h2{
	font-size: 22px;
	margin: 25px 0 20px 0;
	line-height: 1.4;
}
.happiness-blog .blog h3{
	font-size: 18px;
	font-family: $normal-font;
	font-weight: 500;
	margin: 20px 0 15px 0;
	line-height: 1.4;
}
/* see more section */ 
.slider-more-block{
	& .owl-item{
		padding: 0 10px;
	}
}
.more-item{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 65%;
	& a{
		display: block;
	}
	& img{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
	}
	&:hover .mask{		
		opacity: 1;
		transform: scale(1);
	}
}
.mask{
	display: table;
	width: 100%;
	height: 100%;
	position: absolute !important;
	overflow: hidden;
	opacity: 0;
	padding: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(0);
	background-color: rgba(0,0,0,0.5);
	transition: transform .2s, opacity .2s;
}
.mask .text{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	& .text-title{
		font-size: 16px;
		font-family: $title-font;
		margin-bottom: 10px;
	}
	& p{
		font-size: 14px;
		color: rgba(255,255,255,0.7);
	}
}
/* 談情說愛 */
.page-lovestory-kv{
	background-image: url(../images/bg_lovestory.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-size: cover;
} 
.page-lovestory-kv .subtitle{
	color: #fff;
	font-family: $normal-font;
	line-height: 1.6;
	letter-spacing: 2px;
	font-size: 14px;
}
.lovestory-list-item{
	text-align: center;
	margin-bottom: 30px;
	background-color: $aid-color3;
}
.lovestory-list-photo{	
	& img{
		width: 100%;
	}
}
.lovestory-list-text{	
	padding: 30px 40px 50px 40px;
}
.lovestory-list-title{
	color: $title-color;
	font-size: 26px;
	margin-bottom: 20px;
	font-family: $title-font;	
}
.lovestory-list-more{
	margin-top: 30px;
}
.page-section-link{
	text-align: center;
}
.page-section-link-list{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.link-list-item{
	padding: 0px 5px;
	font-size: 16px;
	width: 33.33333%;
	display: inline-block;
	margin-bottom: 10px;
}
.page-lovestory-category-kv{
	padding: 60px 0;
	background-image: url(../images/bg_lovestory.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-size: cover;
}
.page-lovestory-category{

}
/* blog-sidebar */ 
.blog-sidebar{
	padding: 40px 30px;
	background-image: url(../images/bg_light.jpg);
	background-repeat: repeat;
	background-position: center center;
}
.blog-sidebar-title{
	text-align: left;
	font-size: 24px;
	color: $title-color;
	font-family: $title-font;
	margin-bottom: 20px;
}
.blog-sidebar-list{
	list-style: none;
	margin: 0;
	padding-left: 0;

	& li{
		position: relative;
		padding-left: 20px;
		&.active{
			color: $title-color;
			& > a {
				color: $title-color;
			}
			&::before{
				color: $title-color;
			}
		}
		&::before{
			content: "\f0da";
			font: normal normal normal 14px/1 FontAwesome;
			position: absolute;
			left: 2px;
			top: 3px;
		}
	}
	& li + li{
		margin-top: 10px;
	}
}
/* dmn-blog */
.dmn-blog{

}
.dmn-blog-title{
	font-size: 40px;
	color: $title-color;
	font-family: $title-font;
	margin-bottom: 30px;
}
.dmn-blog-info{
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	font-size: 0;
	& li{
		display: inline-block;
		font-size: 16px;
	}
	& .category{
		margin-right: 35px;
		font-weight: bold;
	}
	& .name + .date::before{
		content: '∣';	
		color: rgba(0,0,0,0.25);
		display: inline-block;
		margin: 0 5px;
	}
}
.dmn-blog-photo{
	margin-bottom: 60px;
	& img{
		max-width: 100%;
	}
}
.dmn-blog-text{
	line-height: 1.7;
	& h3{
		font-size: 20px;
		margin: 30px 0 20px 0;
	}
}
.dmn-blog-text-title{
	color: $title-color;
	font-family: $title-font;
	font-size: 24px;
	background-color: #fff;
	display: block;
	margin: 20px 0 15px;
	& > i{
		color: $aid-color2;
		margin-right: 8px;
	}
}
.dmn-blog-event-photo{
	width: 100%;
	margin-bottom: 50px;
	background-color: $aid-color3;
	& .photo{
		width: 60%;	
		float: left;
		& img{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
		}
	}
	& .info{
		width: 40%;	
		float: left;
		padding: 30px;		
	}
	&::after{
		display: table;
		content: '';
		clear: both;
	}
}
.dmn-blog-info-dl{
	& dt{	
		color: $text-color;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 3px;
		margin-bottom: 3px;
		border-bottom:1px solid rgba(0,0,0,0.05) ;
	}
	& dd{
		font-family: $title-font;
		color: $title-color;
		margin-bottom: 25px;
		font-size: 18px;
	}
}
.photo-wrap{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 65%;
	overflow: hidden;
}
/* 媒體報導 */
.page-news-kv{
	position: relative;
	height: 810px;
	background-image: url(../images/bg_news.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.page-news-kv .subtitle{
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 2px;	
	color: #fff;
}
.page-news-list{
	position: relative;
	& .container{
		position: relative;
	}
	& .camera{
		position: absolute;
		left: -600px;
		top: -200px;
	}
	& .coffee{
		position: absolute;
		right: -500px;
		bottom: -200px;
	}
}
.news-list-item{
	text-align: center;
	margin-bottom: 30px;	
}
.news-list-title{
	font-size: 18px;
	line-height: 1.5;
	& span{
		display: block;
		color: $text-color;
		font-size: 16px;
		font-family: $normal-font;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.news-list-photo{
	display: block;
	height: 200px;
	overflow: hidden;
	margin-bottom: 10px;
	& img{
		width: 100%;
	}
	& iframe{
		width: 100%;
		height:200px;		
	}
}
.dmn-video{
	width: 100%;
	max-width:600px;	
	margin:0 auto 20px auto;
	& iframe{
		width: 100%;
		height: 337px;
	}
	& .txt{
		width: 0px;
		height: 0px;
		text-indent: -999px;
		overflow: hidden;
		margin: 0;
	}
}

/* 聯誼活動 */
.page-campaign-kv{
	padding: 80px 0 80px 0;
	& .owl-carousel{
		margin-bottom: 0;
	}
}
.page-campaign-slider{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	border: 10px solid #fff;	
	background-color: #fff;
}
.page-title-under{
	position: absolute;
	display: block;
	text-align: center;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.list-search-block{
	margin-top: 30px;
	margin-bottom: 30px;
	& .form-control{
		float: left;
		width: 80%;
		border: 0;
	}
	& .btn{
		float: left;
		padding: 0;
		height: 40px;
		width: 20%;
		line-height: 40px;
	}
}
.page-campaign-list{
	& .list-item-inner{
		border: 0;
		padding: 10px;
	}
}
.list-search-text{
	margin-top: 8px;
	font-size: 16px;	
	color: $text-color;
	& span{
		color: $main-color;
	}
}
.dmn-event-photos{
	text-align: center;
}
.event-photos-item{
	padding: 0 5px;
}
.event-thumbnail{
	width: 100%;
	height: 0;
	padding-top: 65%;
	position: relative;
	& img{
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.dmn-more{
	padding: 80px 0;
}
.dmn-more .owl-carousel{
	margin-bottom: 0;
}
.dmn-more-item{
	padding: 0 8px;
}
.owl-carousel .list-item{
	margin-bottom: 0;
	&:hover{
		transform: translateY(0px);
		box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	}
}
/* 單身會員 */
.page-member-kv{
	padding: 70px 0;
} 
.dmn-member{
	& .dmn-box{
		margin-bottom: 12px;
		outline: 1px solid rgba(0,0,0,0.03);
	}
}
.dmn-member-search{
	margin:0 auto 30px auto;
}
.dmn-member-search-box{
	height: 54px;
	line-height: 54px;
	text-align: center;
	& .dmn-member-search-title{
		line-height: 1.4;
		line-height: 54px;
		height: 100%;
		display: inline-block;
	}
}
.dmn-member-search-title{
	font-size: 16px;
	color: $title-color;
	display: block;
	font-family: $title-font;
	letter-spacing: 2px;
	margin: 0;
	vertical-align: middle;	
}
.dmn-radio + .dmn-member-search-title{
	margin-left: 20px;
}
.dmn-box-photo{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	overflow: hidden;	
	& img{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		transition: transform .2s;
	}
	&:hover img{
		transform: scale(1.05);
	}
}
.dmn-box-area{
	width: 100%;
	height: 1px;
	position: relative;
	text-align: center;
}
.dmn-box-area-box{
	position: absolute;
	left: 0;
	right: 0;
	top: -15px;
	margin: auto;
	text-align: center;
	display: block;
	width: 80px;
	padding: 4px;
	background-color: #ddd;
	color: #fff;
	font-size: 14px;
	& > i{
		margin-right:5px;
	}
}
.dmn-box-area-box.female{
	background-color: $aid-color4;
}
.dmn-box-area-box.male{
	background-color: $aid-color1;
}
.dmn-box-photo + .dmn-box-area{
	margin-bottom: 20px;
}
.dmn-box-info{
	text-align: center;
}
.dmn-box-info-title{
	font-size: 22px;
	letter-spacing: 2px;
	margin-bottom: 2px;
	font-family: $title-font;
	color: $title-color;
}
.dmn-box-info-list{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	& li{
		font-size: 15px;
		display: inline-block;
	}
	& li + li::before{
		display: inline-block;
		content: '∣';
		color: #ccc;
		margin: 0 3px;
	}
}
.blog-sidebar-member{}
.blog-sidebar-member-item{
	&::after{
		display: table;
		content: '';
		clear: both;
	}
}
.blog-sidebar-member-item + .blog-sidebar-member-item{
	margin-top: 15px;
}
.blog-sidebar-member-photo{
	width: 25%;
	float: left;
}
.blog-sidebar-member-text{
	width: 75%;
	float: left;
	padding-left: 10px;
}
.blog-sidebar-member-photo-thumb{
	width: 100%;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
	position: relative;
	& img{
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.blog-sidebar-member-title{
	color: $title-color;
	font-family: $title-font;
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 0px;
}
.blog-sidebar-member-area{
	color: $aid-color1;
	font-family: $normal-font;
	font-size: 14px;
	margin-bottom: 0px;
}
/* member-photo */
.dmn-no-pic{
	& img{
		width: 100%;
	}
}
.member-profile-photo{}
.member-photo-slider{
	& .slides{
		height: 320px;
		overflow: hidden;
	}
}
.member-photo-slider .flex-control-thumbs{
    margin: 2px 0 0;
}
.member-photo-slider .flex-control-nav.flex-control-thumbs{
    font-size: 0;
}
.member-photo-slider .flex-control-thumbs img{
	opacity: .35;
}
.member-photo-slider .flex-control-thumbs img:hover,
.member-photo-slider .flex-control-thumbs .flex-active{
	opacity: 1;
}
.member-photo-slider .flex-control-nav.flex-control-thumbs li{
    width: 25% !important;
    height: 70px !important;
    margin: 0;
    overflow: hidden;
    border: 2px solid transparent;
}
.member-photo-slider .flex-control-nav.flex-control-thumbs li img{
    width: 100% !important;
    height: auto !important;
}
/* member choice */ 
.member-choice{
	margin-top: 10px;
	width: 100%;
	position: relative;
	&::after{
		clear: both;
		content: '';
		display: table;
	}
}
.member-choice-col{
	width: 50%;
	float: left;
}
.member-like{
	font-size: 14px;
	margin-top: 20px;
}
.member-profile{
	padding-left: 20px;
}
.member-profile-self{
	margin-top: 30px;
}
.member-profile-self-title{
	color: $title-color;
	font-size: 20px;
	font-family: $title-font;
	margin-bottom: 20px;	
}
.member-profile-self-txt{
	line-height: 1.6;
}
/* 婚戀顧問團隊 */
.page-aboutus{
	background-color: #ddded0;
	background-image: url(../images/decoration_flower.png),url(../images/bg_aboutus.jpg);
	background-position: center bottom,center top;
	background-size: 100% auto,100% auto;
	background-repeat: no-repeat,no-repeat;
}
.aboutus-kv-text .sub-title{
	text-align: center;
	color: $text-color;
	font-family: $title-font;
	letter-spacing: 1px;
	line-height: 1.7;
	font-size: 15px;
	margin: 0;
}
.aboutus-secretary{
	font-size: 0;
	margin-top: 70px;
	text-align: center;
}
.aboutus-secretary-item{
	display: inline-block;
	width: 33.33333%;
	font-size: 16px;
	padding: 0 10px;
}
.aboutus-secretary-box{
	background-color: #fff;
	padding: 12px;
	text-align: center;
	margin-bottom: 20px;
}
.aboutus-secretary-photo{
	position: relative;
	width: 100%;
	height: 0;
	margin-bottom: 30px;
	padding-top: 90%;
	overflow: hidden;
	& img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
	}
}
.aboutus-secretary-text-title{
	color: $title-color;
	font-family: $title-font;
	font-size: 28px;
	margin-bottom: 0px;
	letter-spacing: 1px;
}
.aboutus-secretary-text-job{
	font-size: 16px;
	color: $aid-color1;
	font-family: $normal-font;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.aboutus-secretary-text-words{
	font-size: 14px;
	width: 85%;
	height: 60px;
	overflow: hidden;
	margin: auto;
}
.aboutus-secretary-text-social{
	margin-top: 20px;
	margin-bottom: 20px;
	& .dmn-social-icon{
		text-align: center;
	}
}
/* 企業聯誼 */
.page-business-kv{
	height: 900px;
	background-image: url(../images/bg_business.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	& .dmn-title-big{
		line-height: 0.8;
		&::after{
			margin: 10px auto 0px auto;
		}
	}
}
.page-business-title{
	max-width: 260px;
	margin: 0 auto 30px auto;
	text-align: center;
	& img{
		width: 100%;
	}
}
.page-business-kv-txt{
	color: #fff;
	line-height: 1.6;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}
.dmn-title-type2 + .dmn-subtitle-type1{
		margin-top: -30px;
}
.dmn-subtitle-type1{
	& .contact-text{
		margin-bottom: 0;
	}
}
.page-business-service{
	text-align: center;
}
.page-business-item{
	padding: 0 20px;
	text-align: center;
	color: #fff;
}
.page-business-item-photo{
	margin-bottom: 30px;
	& img{
		width: 100%;
		max-width: 100%;
	}
}
.page-business-item-title{
	margin-bottom: 15px;
	font-size: 24px;
	letter-spacing: 4px;
	font-family: $title-font;
}
.page-business-sec{
	& .list-item:hover{
		transform: none;
		box-shadow: none;
	}
	& .list-item-title{
		letter-spacing: 3px;
		font-size: 24px;
	}
	& .list-item-text{
		height: 100px;
	}
}
.contact-text{
	text-align: center;
	display: inline-block;
	margin: 20px auto 20px auto;
	padding: 6px 18px;
	color: $aid-color1;
	font-size: 20px;
	font-family: $title-font;
	border: 2px solid $aid-color1;
}
/* 關於我們 */
.page-dmn-kv{
	text-align: center;
	height: 800px;
	background-image: url(../images/bg_dmn.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	& .dmn-title-big{
		margin-top: 200px;		
	}
}
.page-dmn-five-img{
	width: 65%;
	float: left;
	text-align: center;
}
.page-dmn-five-txt{
	width:35%;
	float: left;
	text-align: center;
	padding: 0 15px;
}
.page-dmn-five-txt-box{	
	margin-top: 150px;
	display: block;
	padding: 80px 20px;
	border: 2px solid #fff;	
	& .txt-promo{
		font-family: $title-font;
		line-height: 2.2;
		letter-spacing: 4px;
		color: #fff;
		margin: 0;
		font-size: 16px;
	}
}
.page-dmn-five-img-ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	& li{
		padding: 0 10px;
		display: inline-block;
		& img{
			max-width: 298px;
		}
	}

}
.page-dmn-kv-txt{
	color: #fff;
	font-family: $normal-font;
	line-height: 1.6;
	letter-spacing: 1px;
	font-size: 16px;
}
.slider-dmn-block{
	& .owl-item{
		padding: 8px 8px;
	}
} 
.index-dmn-bottom-register2{
	text-align: center;
	& .confirm{
		color: #fff;
		& a{
			color: #fff;
		}
	}
}
.dmn-year{
	color: $aid-color1;
	font-size: 32px;
	font-family: $title-font;
	position: absolute;
}
.dmn-history{
	position: relative;
	height: 560px;
	list-style: none;
	padding: 0;
	margin: 80px 0 0 0;
	color: #fff;
	&::before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 10px;
		right: 0;
		margin: auto;
		height: 16px;
		background-image: linear-gradient(to right, $aid-color1 95%, transparent 100%);
	}
	& li{
		position: absolute;
		display: block;
		width: 31%;
		&::after{
			display: table;
			content: '';
			clear: both;
		}
	}
	& li:nth-child(1){
		left: 0%;
	}
	& li:nth-child(2){
		left: 18%;
	}
	& li:nth-child(3){
		left: 35%;
	}
	& li:nth-child(4){
		left: 53%;
	}
	& li:nth-child(5){
		left: 70%;
	}
	& li:nth-child(odd){
		top: 0;
		& .dmn-year{
			top: 290px;
			left: -15px;
		}
	}
	& li:nth-child(even){
		bottom: 0;
		& .dmn-year{
			bottom: 290px;
			left: -15px;
		}
	}
	& li:nth-child(even) .dmn-history-photo::after{
		bottom: 248px;
	}
	& li:nth-child(odd) .dmn-history-photo::after{		
		top: 280px;
	}
	& li:nth-child(even) .dmn-history-photo::before{
		bottom: 120px;
		left: 15px;
		transform: rotate(-25deg);
		transform-origin: left top;
	}
	& li:nth-child(odd) .dmn-history-photo::before{		
		top:120px;
		left: 15px;
		transform: rotate(25deg);
		transform-origin: left bottom;
	}
}
.dmn-history-photo{
	width: 35%;
	float: left;
	& img{
		max-width: 100%;
		z-index: 2;
		position: relative;
	}
	&::before{
		content: '';
		position: absolute;
		width: 1px;
		height: 150px;
		display: block;
		background-color: $aid-color1;		
	}
	&::after{
		content: '';
		position: absolute;
		transform: translateY(-50%);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: block;
		border: 6px solid $aid-color1;
		background-color: #fff;
	}
	
}
.dmn-history-txt{
	width: 65%;
	padding: 0 0 0 5px;
	margin: 0;
	float: left;
	font-size: 14px;
	& dt{
		float: left;
		width: 35px;
		text-align: right;
		padding-right: 5px;
		color: $aid-color1;
	}
	& dd{
		float: left;
		width: calc(100% - 35px);		
	}
}
/* 跳出視窗form */
.dmn-apply{
	padding: 0px 8px;	
}

/* footer */ 
.footer{
	border-top:1px solid #dfe0e0;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 20px;
}
.footer a{
	color: $aid-color1;
}
.footer-dmn-title{
	margin-bottom: 70px;
	& img{
		width: 240px;
	}
}
.footer-dmn-info{
	margin-bottom: 15px;
}
.footer-dmn-bottom{
	padding: 20px 0px;
	border-top:1px solid #dfe0e0;
}
.footer-dmn-copyrights{
	text-align: right;
	font-size: 13px;
	margin: 0;
}
.dmn-info-ul{
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.dmn-info-ul li{
	display: inline-block;
}
.dmn-info-ul li + li{
	margin-left: 5px;
}
.dmn-info-ul li + li::before{
	content: "|";
	display: inline-block;
	margin-right: 5px;
	color: #ddd;
}
.dmn-info-list{
	text-align: left;
	margin: 0;
}
.dmn-info-list dt{
	color: $title-color;
	margin-bottom: 10px;
}
.dmn-info-list dd{
	margin-bottom: 5px;
}

